<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-bottom row justify-content-center">
      <div class="col-auto">
        <p class="text-muted">&copy 2021 Technolife company</p>
      </div>
      <div class="col text-center">
        <span class="px-2">+998999400807</span>
      </div>
      <div class="col-auto text-md-right text-muted">
        <i class="fab fa-lg fa-cc-visa"></i>
        <i class="fab fa-lg fa-cc-paypal"></i>
        <i class="fab fa-lg fa-cc-mastercard"></i>
      </div>
    </section>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.thumb a').click(function(e){
            e.preventDefault()
            $('.mainImage img').attr('src', $(this).attr('href'))
        })
    });
</script>